*{
	margin:0; padding:0; position: relative;
	text-transform: uppercase;
}
body{
	background-color: #000;
}
html{
	scroll-behavior: smooth;
}
h2,h3,h4{
	font-family: 'Lato', sans-serif;
}
/*preloader section*/
.preloader{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
}

.preloader .preloader-gif{
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    background: url('../images/833.gif') no-repeat;   
}

/*top section*/
header {
  position: relative;
  background-color: black;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container-fluid {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}
header img{
	visibility: hidden;
}

#top .nav{
	margin-top:30px;
}
#top .nav a{
	font-family: 'Roboto Mono', monospace;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 3px;
	margin:10px 20px 10px 20px;
	padding-bottom:5px;
	border-bottom: 2px solid #fff;
}
#top a:hover{
	border-bottom: 2px solid #000;
}
#top .sub-text{
	display: inline-block;
	padding-left:40px;
	padding-right: 40px;
	margin-top:160px;
	background-color: #000;
	font-family: 'Roboto Mono', monospace;
}



#PandQ{
	padding-top:50px;
	padding-bottom: 50px;
}
#PandQ h4{
	letter-spacing: 5px;
}
#PandQ:hover .pole1{
	background: linear-gradient(to bottom, #000 10%, #fff 90%);
	transition: all .5s;
}
#PandQ:hover .pole2{
	background: linear-gradient(to bottom, #fff 10%, #000 90%);
	transition: all 0.5s;
}
#PandQ .pole1{
	height: 115px;
	width:4px;    
    background: linear-gradient(to bottom, #fff 10%, #000 90%);
    z-index: 999;
}
#PandQ .pole2{
	height: 115px;
	width:4px;    
    background: linear-gradient(to bottom, #000 10%, #fff 90%);
    z-index: 999;
    margin-left: 41%;
}
#PandQ .box-1{
	padding:10px 15px 10px 15px;
	z-index: 999;
}
#PandQ .box-1 p{
	font-size: 13px;
	font-family: 'Roboto Mono', monospace;
}
#PandQ .box-2{
	padding:20px 15px 10px 15px;
	z-index: 999;
}
#PandQ .box-2 p{
	font-size: 13px;
	font-family: 'Roboto Mono', monospace;
}
/*about_us section*/
#about_us{
	padding-top:50px;
	padding-bottom:100px;
	position: relative;
	background-color: #000000;
	background-image: url(../images/pexels-pixabay-262367.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}
#about_us .container{
	z-index: 999;
}
#about_us .shade{
	position: absolute;
	width: 100%;
	height: 566px;
	top:0;
	left:0;
	background-color: #000;
	opacity: 0.9;
}
#about_us .heading{
	/*border-left:10px solid #fff;*/
	color:#fff;
	letter-spacing: 10px;
	padding:20px 20px 10px 0px;
}
#about_us p{
	font-size:15px;
	line-height: 30px;
	font-family: 'Roboto Mono', monospace;
}
#about_us .custom-shape-divider-bottom-1605898944 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

#about_us .custom-shape-divider-bottom-1605898944 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 161px;
}

#about_us .custom-shape-divider-bottom-1605898944 .shape-fill {
    fill: #ffffff;
}

/*Service section*/
#service{
	padding:50px 0px 80px 0px;
	background-color: #fff;
}
#service .heading{
	/*border-left:10px solid #000;*/
	color:#000;
	letter-spacing: 10px;
	padding:20px 20px 10px 0px;
}
#service .container{
	position: relative;
	z-index: 9999;
}
#service .shade{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 535px;
	background-color: #000;
	opacity: 0.9;
}
#service .card{
	border:none;
	box-shadow: 2px 3px 10px #000;
}
#service .card-body{
	padding:0;
	position: relative;
}
#service p{
	font-size: 14px;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}
#service .card-img-overlay h4{
	letter-spacing: 5px;
}
#service .box-2 .shade{
	position: absolute;
	top:0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	height:305px;
}

/*the extra-shape*/
.extra-shape{
	background-color: #ffffff;
	min-height: 10vh;
}
.extra-shape .custom-shape-divider-bottom-1605898944 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.extra-shape .custom-shape-divider-bottom-1605898944 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 161px;
}

.extra-shape .custom-shape-divider-bottom-1605898944 .shape-fill {
    fill: #1D1E22;
}

/*the vip diff*/
#diff{
	padding-top:50px;
	padding-bottom:50px;
	background-color: #1D1E22;
}
#diff .heading{
	/*border-left:10px solid #fff;*/
	color:#fff;
	letter-spacing: 10px;
	padding:20px 20px 10px 0px;
}
#diff p{
	font-size: 15px;
	line-height: 25px;
	font-family: 'Roboto Mono', monospace;
}

/*contact*/


#contact{
	padding: 40px 0px 40px 0px;
	background-image: url('../images/pexels-gdtography-911738.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
#contact .container{
	position: relative;
	z-index: 9999;
}
#contact .heading{
	/*border-left:10px solid #000;*/
	color:#000;
	font-weight: 900;
	letter-spacing: 10px;
	padding:20px 20px 10px 0px;
}
#contact .img-border{
	border:2px solid #fff;
}
#contact .color-btn{
	color: #fff;
	background-color: #000;
	transition: all 0.2s;
}
#contact .color-btn:hover{
	letter-spacing: 5px;
	transition: all 0.2s;
}

#contact .form-control{
	width:100%;
	color:#fff;
	border:none;
	margin-top: 5px;
	background-color: #1a1a1a!important;
	border:2px solid #fff;
}
#contact .form-group textarea{
	height:100px;
}
#contact .form-control:focus{
	box-shadow: none;
}

.footer{
	background-color: #fff;
}
.footer p{
	margin-bottom: 0rem !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size:13px;
  letter-spacing: 3px;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size:13px;
  letter-spacing: 3px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-size:13px;
  letter-spacing: 3px;
}


/*---------------------------------------------------------------responsive*/

@media only screen and (min-width:319px) and (max-width: 360px){
	
	#top .nav {
    	margin-top: 15px;
	}
	#top .nav a {
    	font-size: 12px;
    	letter-spacing: 0px;
    	margin: 0px 0px 0px 10px;
	}
	.display-3{
		font-size: 2.0rem!important;
	}
	#top .sub-text {
	    margin-top: 90px;
	    padding-left:10px;
	    padding-right:10px;
	}
	header {
	    height: 290px;
	}
	#PandQ {
	    padding-top: 20px;
	    padding-bottom: 15px;
	}
	#PandQ .mt-5{
		margin-top:1rem !important;
	}
	#PandQ p{
    	font-size: 13px;
	}
	#PandQ .pole1 {
    height: 122px;
    margin-left: 10px;
	}
	#PandQ .pole2 {
    height: 122px;
    margin-left: 15%;
	}
	#PandQ .box-2 {
	    padding: 0px 15px 10px 15px;
	    z-index: 999;
	}
	#about_us{
		padding-top: 10px;
		padding-bottom: 40px;
	}
	#about_us p {
    	font-size: 13px;
	    line-height: 23px;
	}
	#about_us .custom-shape-divider-bottom-1605898944 svg {
	    width: calc(147% + 1.3px);
    	height: 57px;
	}
	#service {
    	padding: 10px 0px 50px 0px;
	}
	#service .heading {
	    letter-spacing: 6px;
    	padding: 20px 20px 0px 0px;
	}
	#service .card {
	    height: 330px;
	    overflow: hidden;
	}
	#service .img-fluid{
		width: 100%;
		height:330px;
	}
	#service .box-1 h4, #service .box-2 h4{
		margin-top:-8px;
	}
	#service .box-1 p{
		text-align: center;
		margin-top:18px !important;
	}
	#service .box-2{
		margin-top:20px;
	}
	#service .box-2 p{
		text-align: center;
		margin-top: 18px !important;
	}
	#service .card-img-overlay h4 {
   		letter-spacing: 4px;
	}
	#service .box-2 .shade {
	    height: 330px;
	}
	.extra-shape .custom-shape-divider-bottom-1605898944 svg {
	    width: calc(147% + 1.3px);
    	height: 57px;
	}
	#diff {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1D1E22;
	}
	#diff p {
    	font-size: 13px;
	    line-height: 23px;
	}
	.mob-hide{
		display: none;
	}
	#contact h2{
		margin-left:16px;
	}
	.footer p{
		font-size:8px;
	}
}    
@media only screen and (min-width: 361px) and (max-width: 414px){
	#top .nav {
    	margin-top: 15px;
	}
	#top .nav a {
    	font-size: 12px;
    	letter-spacing: 0px;
    	margin: 0px 0px 0px 10px;
	}
	.display-3{
		font-size: 2.0rem!important;
	}
	#top .sub-text {
	    margin-top: 106px;
	    padding-left:5px;
	    padding-right:5px;
	}
	header {
	    height: 315px;
	}
	#PandQ {
	    padding-top: 20px;
	    padding-bottom: 15px;
	}
	#PandQ .mt-5{
		margin-top:1rem !important;
	}
	#PandQ p{
    	font-size: 13px;
	}
	#PandQ .pole1 {
    height: 122px;
    margin-left: 10px;
	}
	#PandQ .pole2 {
    height: 122px;
    margin-left: 15%;
	}
	#PandQ .box-2 {
	    padding: 0px 15px 10px 15px;
	    z-index: 999;
	}
	#about_us {
    	padding-top: 10px;
	    padding-bottom: 40px;
	}
	#about_us p {
    	font-size: 13px;
	    line-height: 23px;
	}
	#about_us .custom-shape-divider-bottom-1605898944 svg {
    	width: calc(102% + 1.3px);
    	height: 51px;
	}
	#service {
    	padding: 10px 0px 50px 0px;
	}
	#service .img-fluid {
    max-width: 100%;
    height: 290px;
	}
	#service .heading {
	    letter-spacing: 6px;
    	padding: 20px 20px 0px 0px;
	}
	#service .card {
	    height: 290px;
	    overflow: hidden;
	}
	#service .box-1 h4, #service .box-2 h4{
		margin-top:-8px;
	}
	#service .box-1 p{
		text-align: justify;
		margin-top:37px !important;
	}
	#service .box-2{
		margin-top:20px;
	}
	#service .box-2 p{
		text-align: justify;
		margin-top: 37px !important;
	}
	#service .card-img-overlay h4 {
   		letter-spacing: 3px;
	}
	#service .box-2 .shade {
    	height: 290px;
	}
	.extra-shape .custom-shape-divider-bottom-1605898944 svg {
    	width: calc(102% + 1.3px);
    	height: 51px;
	}
	#diff {
	    padding-top: 20px;
	    padding-bottom: 20px;
	    background-color: #1D1E22;
	}
	#diff p {
    	font-size: 13px;
	    line-height: 23px;
	}
	.mob-hide{
		display: none;
	}
	#contact h2{
		margin-left:16px;
	}
	.footer p{
		font-size:9px;
	}

}


@media only screen and (min-width: 415px) and (max-width: 575px) {
	#top .nav {
    	margin-top: 15px;
	}
	#top .nav a {
    	font-size: 12px;
    	letter-spacing: 1px;
    	margin: 0px 0px 0px 20px;
	}
	.display-3{
		font-size: 2.5rem!important;
	}
	#top .sub-text {
	    margin-top: 106px;
	}
	header {
	    height: 330px;
	}
	#PandQ {
	    padding-top: 20px;
	    padding-bottom: 15px;
	}
	#PandQ .mt-5{
		margin-top:1rem !important;
	}
	#PandQ p{
    	font-size: 13px;
	}
	#PandQ .pole1{
		height: 100px;
		margin-left:5%;
	}
	#PandQ .pole2 {
	    height: 100px;
	    margin-left: 15%;
	}
	#PandQ .box-2 {
	    padding: 0px 15px 10px 15px;
	    z-index: 999;
	}
	#about_us {
    	padding-top: 10px;
	    padding-bottom: 40px;
	}
	#about_us .heading {
	    padding: 20px 20px 0px 0px;
	}
	#about_us p {
		margin-top: 18px !important;
    	font-size: 14px;
	    line-height: 25px;
	}
	#about_us .custom-shape-divider-bottom-1605898944 svg {
    	width: calc(102% + 1.3px);
    	height: 51px;
	}
	#service {
    padding: 20px 0px 30px 0px;
    background-color: #fff;
	}
	#service .card {
	    height: 250px;
	    overflow: hidden;
	}
	#service .box-1 h4, #service .box-2 h4{
		margin-top:0px;
	}
	#service .box-1 p{
		text-align: justify;
		margin-top:32px !important;
	}
	#service .box-2{
		margin-top:30px;
	}
	#service .box-2 p{
		text-align: justify;
		margin-top: 32px !important;
	}
	.extra-shape .custom-shape-divider-bottom-1605898944 svg {
    	width: calc(102% + 1.3px);
    	height: 51px;
	}
	#diff {
    	padding-top: 25px;
    	padding-bottom: 25px;
	}
	#diff p {
		margin-top: 0px !important;
    	font-size: 14px;
	    line-height: 25px;
	}
	.mob-hide{
		display: none;
	}
	#contact h2{
		margin-left:16px;
	}
	.footer p{
		font-size:9px;
	}
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
	#top .nav {
    margin-top: 15px;
	}
	#top .nav a {
	    letter-spacing: 2px;
	    margin: 0px 0px 0px 15px;
	    padding-bottom: 5px;
	}
	.display-3{
		font-size: 3.0rem !important;
	}
	#top .sub-text{
		margin-top: 135px;
	}
	header {
	    height: 390px;
	}
	#PandQ {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	#PandQ .pole2 {
    	height: 100px;
    	margin-left: 15%;
	}
	#PandQ .box-2 {
	    padding: 0px 15px 10px 15px;
	    z-index: 999;
	}
	#about_us{
		padding-top: 10px;
		padding-bottom: 100px;
	}
	#about_us p {
	    font-size: 14px;
	    line-height: 24px;
	}
	#about_us .custom-shape-divider-bottom-1605898944 svg {
	    width: calc(108% + 1.3px);
	    height: 108px;
	}
	#service {
	    padding: 15px 0px 50px 0px;
	}
	#service .card {
	    height: 250px;
	    overflow: hidden;
	}
	#service .box-1 h4, #service .box-2 h4{
		margin-top:0px;
	}
	#service .box-1 p{
		text-align: justify;
		margin-top:32px !important;
	}
	#service .box-2{
		margin-top:30px;
	}
	#service .box-2 p{
		text-align: justify;
		margin-top: 32px !important;
	}
	.extra-shape .custom-shape-divider-bottom-1605898944 svg {
	    width: calc(108% + 1.3px);
	    height: 108px;
	}
	#diff {
    	padding-top: 15px;
	    padding-bottom: 30px;
	}
	.mob-hide{
		display: none;
	}
	#contact h2{
		margin-left:16px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px){
	#top .nav a {
	    font-size: 12px;
    	margin: 5px 0px 5px 20px;
    	padding-bottom: 3px;
	}
	#top .nav {
    	margin-top: 16px;
	}
	.display-3{
		font-size: 3.5rem !important;
	}

	#top .sub-text {
    	margin-top: 130px;
	}
	header {
	    height: 430px;
	}
	#about_us {
	    min-height: 63vh;
    }
	#about_us p {
	    line-height: 25px;
	}
    #service .card {
	    height: 250px;
	    overflow: hidden;
	}
	#service .box-1 h4, #service .box-2 h4{
		margin-top:12px;
	}
	#service .box-1 p{
		text-align: justify;
	}
	#service .box-2{
		margin-top:30px;
	}
	#service .box-2 p{
		text-align: justify;
	}
	#PandQ .pole1 {
    	height: 134px;
	}
	#PandQ .pole2 {
    	height: 134px;
	}
	#PandQ .box-1 {
	    padding: 10px 15px 0px 15px;
	}
	#PandQ .box-2 {
	    padding: 0px 15px 0px 15px;
	}
	
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#top .sub-text {
    	margin-top: 120px;
	}
	#about_us {
	    min-height: 56vh;
    }	
    #service .box-2 .shade {
	    height: 253px;
	}
	header {
	    height: 430px;
	}
}

/*@media only screen and (min-width: 1200px){
	#top .sub-text {
    	margin-top: 120px;
	}
	#about_us {
	    min-height: 56vh;
    }	
    #service .box-2 .shade {
	    height: 303px;
	}
}*/